.container {
  margin: 3.5% 15% 5%;
  text-align: left;
  font-size: 18px;
}

.disheader {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.dissubheader {
  font-size: 1.5em;
  font-weight: bold;

}

.discontent {
  line-height: 1.5;

}

@media (max-width: 1080px) {
  .container {
    margin: 5%;
    text-align: left;
    font-size: 16px;
  }
}